.margem{
    margin-left: 30%;
    margin-right: 30%;
}

label{
    display: block;
}

.tabela{
    background-color: aliceblue;
}

.blocakdo{
    display: block;
    flex: 1;
}

.envolto{
    border: 0.1px solid #464646;
    border-radius: 10px;
}

.circular{
    border-radius: 10px;
}