.calculatorBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    border: 0.5px solid rgb(182, 182, 182);
    border-radius: 24px;
}

.calculatorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#display1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: right;
    color: white;
    font-weight: bold;
    display: flex;
    height: 150px;
    width: 500px;
    background-color: #464646;
    border-radius: 24px 24px 0 0;
}


#displayText{
    display: block;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.row{
    display: flex;
    height: 100px;
    width: 500px;
}

.row div{
    flex: 1;
}

.buttonsCalc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #ff9500;
    border: 0.5px solid white;
    transition: background-color 0.3s ease;
}

.buttonLeft{
    border-radius: 0 0 0 24px;
}

.buttonRight{
    border-radius: 0 0 24px 0;
}

.buttonsCalc:hover{
    background-color: #ff7f00;
}